*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin
*.mp4
*.mkv
test*.*
*.log
*.onnx
__*
__pycache__/GoogleImageScraper.cpython-37.pyc
ghostdriver.log
webdriver/phantomjs.exe
webdriver/*.exe
webdriver/chromedriver_win32.zip
__pycache__/GoogleImageScrappr.cpython-38.pyc
__pycache__/*
webdriver/*.zip
photos
.ipynb_checkpoints/juypter_main-checkpoint.ipynb
webdriver/chromedriver.exe
checkpoint*
checkpt*
models/*.h5
models/*.pt
!models/anime_classifier_model.h5